@font-face {
    font-family: 'bakso';
    src: url('fonts/baksosapi-webfont.woff2') format('woff2'), url('./fonts/baksosapi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    src: url('fonts/comicneue-regular-webfont.woff2') format('woff2'), url('./fonts/comicneue-regular-webfont.woff') format('woff');
    font-family: 'comic_neue';
    font-weight: normal;
    font-style: normal;
}

.document {
    margin: 0;
    padding: 20px 40px;
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: #334267;
    font-family: 'basko', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    min-width: 50vw;
}

button {
    border: none;
    padding: 10px 0;
    width: 130px;
    border-radius: 20px;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.post__item {
    background-color: #fff;
    border-radius: 10px;
    max-width: 700px;
    padding: 30px;
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    column-gap: 20px;
    row-gap: 30px;
    align-items: center;
    text-align: center;
    grid-template-areas: 'photo name email' 'title title title' 'text text text' 'buttons buttons buttons';
}

.post__item+.post__item {
    margin-top: 30px;
}

.user-photo {
    grid-area: photo;
    width: 60px;
    height: 60px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.post__user-name {
    grid-area: name;
}

.post__user-email {
    grid-area: email;
}

.post__title {
    grid-area: title;
    font-size: 18px;
}

.post__text {
    grid-area: text;
    text-align: left;
    line-height: 22px;
}

.post__buttons {
    grid-area: buttons;
    display: flex;
    justify-content: space-around;
}

.post__delete-btn {
    background-color: #ff0000c6;
    color: #fff;
}

.post__delete-btn:hover {
    background-color: #c91818;
}

.post__edit-btn {
    background-color: #ddecf7;
}

.post__edit-btn:hover {
    background-color: #bccedc;
}

.add-post__btn {
    background-color: rgb(77 98 216);
    display: block;
    margin-bottom: 50px;
    margin-left: auto;
    color: white;
}

.add-post__btn:hover {
    background-color: rgb(28 200 223);
}

/* Modal */

.modal {
    border-radius: 5px;
    display: flex;
    padding: 30px 10px;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    background-color: #fff;
    width: 80vw;
    min-height: 300px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #6583ce;
    transform: translateY(-50%);
    top: 50%;
}

.modal__close {
    position: absolute;
    right: 10px;
    top: 0px;
    padding: 5px;
    font-size: 40px;
    z-index: 2;
    cursor: pointer;
    font-family: 'comic_neue', sans-serif;
    font-weight: 700;
    transition: 0.3s;
    width: auto;
    color: #6583ce;
}

.modal__close:hover {
    color: #ff0000c6;
}

.modal-overlay {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #7598f070;
    cursor: pointer;
}

/* form */

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
}

.form__title-field, .form__text-field {
    border-radius: 5px;
    font-family: inherit;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    color: #334267;
    border: 1px solid #7598f070;
    padding: 10px 5px;
}

.form__title-field::placeholder, .form__text-field::placeholder {
    color: #65759dfa;
}

.form__title-field {
    margin-bottom: 15px;
}

.form__text-field {
    margin-bottom: 30px;
}

.form__label {
    margin-bottom: 10px;
    font-weight: 700;
    color: #6583ce;
}

.modal__save-btn {
    padding: 10px 30px;
    width: auto;
    margin: 0 auto;
    background-color: rgb(77 98 216);
    color: white;
}

.modal__save-btn:hover {
    background-color: rgb(28 200 223);
}

.modal__user-data {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 20px;
}

/* loader */

.loader {
    height: 100%;
    width: 80vw;
    min-height: 300px;
    border-radius: 5px;
    max-width: 700px;
    padding: 30px;
    display: none;
    grid-template-columns: 80px 1fr;
    column-gap: 20px;
    row-gap: 30px;
    align-items: center;
    text-align: center;
    grid-template-areas: 'loader-img loader-user-info' 'loader-title loader-title' 'loader-text loader-text' 'loader-btn-box loader-btn-box';
    background-color: #F8F8FA;
}

.loader--active {
    display: grid;
}

.skeleton-box {
    height: 1.5em;
    position: relative;
    overflow: hidden;
    background-color: hsl(0deg 0% 86% / 77%);
    border-radius: 15px;
}

.loader__img {
    grid-area: loader-img;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.loader__user-info {
    grid-area: loader-user-info;
}

.loader__title {
    grid-area: loader-title;
}

.loader__text {
    grid-area: loader-text;
    height: 80px;
}

.loader__btn-box {
    grid-area: loader-btn-box;
    display: flex;
    justify-content: space-around;
}

.loader__btn {
    width: 130px;
    height: 35px;
}

.skeleton-box::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient( 90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
    animation: shimmer 2s infinite;
    content: '';
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}